<div class="modal-wrapper">
  <div class="modal">
      <div class="title">Phone battery low</div>
      <div class="actions">
        <span class="action">
          <span class="material-icons">call</span>
          Get Help
        </span>
        <span class="action">
          <span class="material-icons">directions</span>
          Get Remaining Directions
        </span>
        <span class="action">
          <span class="material-icons">map</span>
          Change Destination
        </span>
        <span class="action" (click)="close()">
          <span class="material-icons">close</span>
          Close
        </span>
      </div>
  </div>
</div>