.modal-wrapper {
  background-color: rgba($color: white, $alpha: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  backdrop-filter: blur(2px);
  .modal {
    background-color: white;
    margin: auto;
    width: 80%;
    padding: 24px 0;
    border-radius: 10px;
    text-align: center;
    .title {
      font-size: 24px;
      color: #911D30;
    }
    .actions {
      flex-direction: column;
      .action {
        color: white;
        background-color: #001248;
        margin-bottom: 16px;
      }
    }
  }
}