<div class="main-parent ">
    <div class="header login">
        <span class="material-icons">menu</span>      
      </div>
      <div class="logo">
        <img src="assets/logo.svg" />
      </div>
      <div class="login-form">
          <input class="login-input" type="text" name="name" id="name" placeholder="Username">
          <input class="login-input" type="password" name="password" id="password" placeholder="Password">
          <button [routerLink]="['/home']">Login</button>
      </div>
</div>

